.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);
    margin: 20px auto;
    text-align: center;
}

.card-header{
    background-color: #f1f1f1;
    padding: 20px ;
    font-size: 20px;
}

.card-body{
    padding: 20px;
}

@media(min-whidth:576px){
    .card {
        max-width: 540px;
    }
}

@media(min-whidth:768px){
    .card {
        max-width: 720px;
    }
}

@media(min-whidth:992px){
    .card {
        max-width: 960px;
    }
}

@media(min-whidth:1200px){
    .card {
        max-width: 1140px;
    }
}

